.container-chatbox {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
}

.container-chatbox-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 5fr;
}

/* Menu Detial Mini */
.menu-detial-mini {
	height: 100%;
	width: 100%;
	background-color: #000000;
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0;
}

.container-chat-mini {
	width: 100%;
	height: 100%;
}
.container-chat-channel {
	width: 100%;
	height: 100px;
	background-color: #272727;
	position: relative;
	cursor: pointer;
	outline: none;
}
.container-chat-channel:hover {
	background-color: #444444;
}
.container-chat-channel:focus {
	background-color: #585858;
	outline: none;
}
.image-user-chat-mini {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
	object-fit: cover;
	object-position: 100% 70%;
}
.mini-chat-img {
	position: absolute;
}
.mini-noti-name {
	position: absolute;
	margin-left: 60px;
	padding-top: 8px;
	font-size: 13px;
	font-weight: 300;
	color: white;
}
.mini-noti-time {
	position: absolute;
	margin-left: 250px;
	margin-top: 75px;
	font-size: 12px;
	font-weight: 300;
	color: white;
}
/* Menu Detial Mini */

/* Menu Detial Full */
.menu-detail-full {
	background-color: rgb(231, 231, 231);
	position: relative;
}

.contaier-noti-full-grid {
	display: grid;
	background-color: rgb(219, 219, 219);
	grid-template-columns: 5fr;
	font-size: 15px;
	font-weight: 500;
	padding: 15px;
	box-shadow: -8px 5px 15px 0px rgba(0, 0, 0, 0.57);
	z-index: 0;
	text-align: center;
}
.message-full-name-notification {
	margin: 0;
}
.message-full-name-notification p {
	margin: 0px;
}
.content-full-noti {
	z-index: -10;
	height: 100%;
	width: 100%;
	background-color: white;
	overflow: scroll;
}

/* width */
.content-full-noti::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.content-full-noti::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.content-full-noti::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.content-full-noti::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* Menu Detial Full */
